* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    font-size: 17px;
}


li {
    list-style: none;
}

.nav {
    position: relative;
    left: 0;
    width: 100%;
    height: 0vh;
    transition-duration: .3s;
    background: rgb(133, 160, 189);
    background: linear-gradient(0deg, rgba(133, 160, 189, 1) 0%, rgba(90, 125, 162, 1) 100%);
    color: white;
}

.nav.change {
    height: 28vh;
}

.nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 7vh;
}


.burger {
    position: absolute;
    top: 5vw;
    right: 5vw;
    width: 50px;
    height: 50px;
    background-image: url(img/icons/burger.svg);
    background-size: cover;
    transition-duration: .3s;
    z-index: 1;
}

.burger.change {
    background-image: url(img/icons/closemenu.svg);
    transform: rotate(180deg);
}

.main {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(img/background/backgroundS.jpg);
    background-size: cover;
    background-position: 10%;
    color: white;
}

.main img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20%;
}

.main ul {
    display: none;
}

.main .sentence {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.main .sentence p:nth-of-type(2) {
    font-size: 25px;
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.5px solid #e1e1e1;
    color: #e1e1e1;
    text-align: center;
    line-height: 60px;
}

.experience {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.islands {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}

.islands li {
    list-style-image: url(img/icons/greece.svg);
    list-style-position: inside;
}


.warranty {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.text {
    position: relative;
    width: 100%;
    height: auto;
}

.text .section-cont {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10% 0;
    font-weight: 300;
    line-height: 2;
    color: #242424;
    box-sizing: border-box;
}

.text .section-cont .head p {
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 40px;
}

.text .section-cont .head p a {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}

.image {
    position: relative;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: 70%;
}

.experience .image {
    background-image: url(img/section-image/1.jpg);
    background-position: 60%;
}

.islands .image {
    background-image: url(img/section-image/2.jpg);
    background-position: 20%;
}

.warranty .image {
    background-image: url(img/section-image/3.jpg);
}


.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: calc(110vw + 40px + 94px);
    overflow: hidden;
}

.gallery h1 {
    width: 100%;
    text-align: center;
    margin: 40px 0 20px 0;
}

.gallery.show {
    height: auto;
}

.gallery a {
    position: relative;
    display: block;
    min-width: 80vw;
    min-height: 55vw;
    max-width: 80vw;
    max-height: 55vw;
    margin: 10px 0;
}

.gallery a img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.slide {
    position: relative;
    width: 100%;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    font-size: 30px;
}

.slide i.show {
    transform: rotate(180deg);
}

.contact-pop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 5vh;
    background-color: #5B709C;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    line-height: 5vh;
    z-index: 1;
}

.contact-pop i {
    animation: callme 10s linear infinite;
}

.footer-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F9F9F9;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-section .contact {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.footer-section .contact>* {
    position: relative;
    width: 100%;
    text-align: center;
    align-self: flex-end;
}

.footer-section .contact>* h1 {
    padding: 10px 0;
}


.contact h1 {
    font-size: 30px;
}


.footer-section .contact ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-section .contact li {
    padding: 10px 0;
}

.footer-section .contact .social-media {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    padding: 10px 0;
    font-size: 40px;
    color: #298EB8;
    height: 60px;
}

.footer-section .form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    padding: 20px 0;

}


.footer-section .form form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    text-align: center;
    padding: 10px;
}

.footer-section .form form>* {
    width: 60%;
    margin: 2px 0;
}

.footer-section .form form input {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
}

#country {
    width: 45%;
    padding: 5px;
    border-radius: 10px;
    margin-right: 3%;
    border-color: transparent;
}

#people {
    width: 45%;
    padding: 5px;
    border-radius: 10px;
    margin-left: 3%;
    border-color: transparent;
}


#trip-date {
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
}



.footer {
    position: relative;
    width: 100%;
    padding: 10px 0;
    align-self: flex-end;
    flex-grow: 1;
    text-align: center;
    border-top: .5px solid #e1e1e1;
    background-color: #F9F9F9;
    font-family: Arial, Helvetica, sans-serif;
}


@media (min-width: 1024px) {
    .nav {
        display: none;
    }

    .nav.change {
        display: none;
    }

    .nav ul {
        display: none;
    }


    .burger {
        display: none;
    }

    .burger.change {
        display: none;
    }

    .main {
        background-image: url(img/background/backgroundB.jpg);
    }

    .main img {
        display: none;
    }

    .main ul {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        left: 25%;
        padding-top: 5%;
        cursor: pointer;
    }

    .main ul li img {
        display: block;
        margin: 0px 0px 0px 0px;
    }

    .main ul li {
        overflow: hidden;
    }

    .main ul li a {
        position: relative;
    }

    .main ul li a::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0%;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: .3s;
        transform-origin: right;
    }

    .main ul li a:hover::before {
        width: 100%;
    }

    .main p:nth-of-type(1) {
        font-size: 25px;
    }

    .main .sentence p:nth-of-type(2) {
        font-size: 40px;
    }

    .experience {
        flex-direction: row;
    }

    .islands {
        flex-direction: row;
    }

    .islands li {
        list-style-position: outside;
    }

    .warranty {
        flex-direction: row;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text .section-cont {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 10%;
        font-weight: 300;
        line-height: 2;
        color: #242424;

    }

    .text .section-cont .head p {
        font-weight: 700;
        letter-spacing: 5px;
        padding-bottom: 40px;
    }

    .text .section-cont .head p a {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 15px;
    }

    .image {
        position: relative;
        width: 100%;
        height: 80vh;
        background-size: cover;
        background-position: 70%;
    }

    .gallery {
        height: calc(30vw + 40px + 94px);
    }

    .gallery a {
        min-width: 23vw;
        min-height: 15vw;
        max-width: 23vw;
        max-height: 15vw;
    }

    .gallery a img {
        border-radius: 5px;
    }

    .contact-pop {
        left: auto;
        right: 10%;
        transform: translateX(0%);
        width: 10%;
        height: 3vh;
        background-color: #8097ca;
        line-height: 3vh;
    }

    .footer-section {
        flex-direction: row;
    }

    .footer-section .contact {
        position: relative;
        width: 70%;
        border-bottom: none;
        border-right: .5px solid #e1e1e1;
    }

    .footer-section .contact>* {
        width: 33%;
    }

    .footer-section .contact li a {
        cursor: pointer;
    }

    .footer-section .form {
        position: relative;
        width: 30%;
    }

    .social-media i {
        cursor: pointer;
    }

    select {
        outline: none;
    }

    input {
        outline: none;
    }
}

@media (orientation: landscape) and (max-width: 1023px) {

    .nav.change {
        height: 36vh;
    }

    .nav ul {
        line-height: 9vh;
    }

    .main {
        height: 100vh
    }

    .main img {
        margin-top: 10%;
    }


    .main .sentence {
        top: 55%;
    }


    .main .sentence p:nth-of-type(2) {
        font-size: 20px;
    }

    .arrow {
        width: 40px;
        height: 40px;
        line-height: 50px;
        font-size: 15px;
    }

    .gallery {
        height: calc(60vw + 40px + 94px);
    }


    .gallery a {
        min-width: 45vw;
        min-height: 30vw;
        max-width: 45vw;
        max-height: 30vw;
    }

    .slide {
        padding: 0px 0px 10px 0px;
    }

    .contact-pop {
        width: 30%;
        padding: 2px 0;
    }

    .footer-section .form h1 {
        width: 100%;
        text-align: center;
    }

    .footer-section .form h4 {
        width: 100%;
        text-align: center;
    }

}

@keyframes callme {

    0% {
        transform: rotate(10deg);
    }

    1% {
        transform: rotate(-10deg);
    }

    2% {
        transform: rotate(10deg);
    }

    3% {
        transform: rotate(-10deg);
    }

    4% {
        transform: rotate(10deg);
    }

    5% {
        transform: rotate(0);
    }

    33.33% {
        transform: rotate(0);
    }

    33.66% {
        transform: rotate(10deg);
    }

    34.66% {
        transform: rotate(-10deg);
    }

    35.66% {
        transform: rotate(10deg);
    }

    36.66% {
        transform: rotate(-10deg);
    }

    37.66% {
        transform: rotate(10deg);
    }

    38.66% {
        transform: rotate(0);
    }

    66.66% {
        transform: rotate(0);
    }

    66.99% {
        transform: rotate(10deg);
    }

    68.99% {
        transform: rotate(-10deg);
    }

    69.99% {
        transform: rotate(10deg);
    }

    70.99% {
        transform: rotate(-10deg);
    }

    71.99% {
        transform: rotate(10deg);
    }

    72.99% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}
